@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

$light-slate-blue: hsl(252, 100%, 67%); // (background)
$light-royal-blue: hsl(241, 81%, 54%); // (background)
$violet-blue: hsla(256, 72%, 46%, 1); // (circle)
$persian-blue: hsla(241, 72%, 46%, 0); // (circle)

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

//Note: Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

* {
  font-family: 'Hanken Grotesk', sans-serif;
}

div[data-component="container"] {
  background-color: $white;
}

p {
  font-size: 18px;
}

.results-summary {
  width: 100%;
  height: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-slate-blue;
  background: linear-gradient(180deg, $light-slate-blue 0%, $light-royal-blue);
  text-align: center;
  padding: 24px 50px 36px;
  border-radius: 0 0 30px 30px;
  gap: 20px;
  p, h2 {
    color: $white;
  }
}

.result__numbers {
  background: linear-gradient(180deg, $violet-blue 0%, $persian-blue);
  width: 140px;
  height: 135px;
  border-radius: 100%;
  padding: 27px;
  .result__number {
    font-size: 5.2rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
  }
}

.result__description {

  .result__title {
    font-weight: bold;
    font-size: 2.2rem;
  }
  .result__paragraph {
    font-size: 1.5rem;
  }
}

.summary {
  background-color: $white;
}

//Mobile: 375px, Desktop: 1440px
