@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

// $light-red: hsl(0, 100%, 67%);
// $orangey-yellow: hsl(39, 100%, 56%);
// $green-teal: hsl(166, 100%, 37%);
// $cobalt-blue: hsl(234, 85%, 45%);

$light-slate-blue: hsl(252, 100%, 67%); // (background)
$light-royal-blue: hsl(241, 81%, 54%); // (background)
$violet-blue: hsla(256, 72%, 46%, 1); // (circle)
$persian-blue: hsla(241, 72%, 46%, 0); // (circle)

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

//Note: Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

* {
  font-family: 'Hanken Grotesk', sans-serif;
}

div[data-component="container"] {
  background-color: $white;
}

p {
  font-size: 18px;
}

.results-summary {
  max-width: 664px;
  max-height: 524px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-slate-blue;
  background: linear-gradient(180deg, $light-slate-blue 0%, $light-royal-blue);
  text-align: center;
  padding: 24px 50px 36px;
  border-radius: 0 0 30px 30px;
  gap: 20px;
  p {
    color: $white;
  }
}

.result__numbers {
  background: linear-gradient(180deg, $violet-blue 0%, $persian-blue);
  width: 140px;
  height: 135px;
  border-radius: 100%;
  padding: 27px;
  .result__number {
    font-size: 5.2rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
  }
}

.result__title {
  font-weight: bold;
  font-size: 2.2rem;
}

.result__paragraph {
  font-size: 1.5rem;
}

.summary {
  background-color: $white;
  padding: 24px;
  .summary__title {
    font-weight: bold;
    font-size: 1.8rem;
    color: $dark-gray-blue;
    margin-bottom: 24px;
  }
}

.summary__tests-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary__test {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
  border-radius: 10px;
  .summary__test-name {
    display: flex;
    align-items: center;
    gap: 12px;
    .summary__test-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
    font-size: 1.4rem;
    font-weight: bold;
  }
  .summary__test-punctuation {
    font-weight: bold;
    color: $dark-gray-blue;
    font-size: 1.7rem;
    & span:nth-child(2){
      opacity: 50%;
    }
  }
}

@mixin test ($color, $icon) {
    color: $color;
    background-color: rgba($color, 0.08);
    .summary__test-icon {
      background: url('assets/images/#{$icon}.svg') no-repeat center / contain;
    }
}

.summary__test {
  $light-red: hsl(0, 100%, 67%);
  $orangey-yellow: hsl(39, 100%, 56%);
  $green-teal: hsl(166, 100%, 37%);
  $cobalt-blue: hsl(234, 85%, 45%);

  &.reaction {
    @include test($light-red, 'icon-reaction');
  }

  &.memory {
    @include test($orangey-yellow, 'icon-memory');
  }

  &.verbal {
    @include test($green-teal, 'icon-verbal');
  }

  &.visual {
    @include test($cobalt-blue, 'icon-visual');
  }
}

.summary__btn-continue {
  background-color: $dark-gray-blue;
  color: $white;
  border: none;
  border-radius: 26px;
  padding: 16px 32px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 8px;
  &:hover, &:focus, &:active {
    background: $light-royal-blue;
    background: linear-gradient(0deg, $light-royal-blue 0%, $light-slate-blue 100%);
  }
}

//Mobile: 375px, Desktop: 1440px
@media screen and (min-width: 768px) {
  .results-summary {
    display: flex;
    background-color: $white;
    border-radius: 30px;
    box-shadow:  7px 8px 20px $pale-blue;
  }
  .results {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 50%;
  }
  .summary {
    width: 50%;
    border-radius: 30px;
  }
}
