@import '../../../app.component.scss';

$border-color: #2a2b31;

.project-container--link {
  color: $black;
  text-decoration: none;
}

.project-card {
  $first-shadow: 8px 8px 0 #70718f;
  $second-shadow: 18px 18px 0 #2c2d41;
  position: relative;
  height: 100%;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: $white;
  border-color: $border-color;
  &:hover {
    box-shadow: $first-shadow, $second-shadow;
    transform: translate(-20px, -20px);
    .project-info__arrow {
      transform: rotate(-45deg);
      background-color: #c4c4eb;
      &:active {
        background-color: $soft-purple;
      }
    }
  }
}

.project-status {
  position: absolute;
  background: $background;
  padding: 8px 14px;
  border-radius: 14px;
  border: 3px solid $border-color;
  top: -25px;
  right: 12px;
  font-size: 1.7rem;
  font-weight: bold;
}

.project__img-container {
  width: 100%;
  height: 250px;
  background-color: #eeeeee;
}

.project__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  border: 2px solid $soft-purple;
}

.project-info {
  padding: 10px;
  @include flexbox(column, normal, normal, 8px);

  .project-info__header {
    @include flexbox(row, space-between, center, 0);
  }

  .project-info__title {
    font-size: 2.4rem;
    margin: 0;
    font-weight: 600;
    color: black;
  }

  .project-info__arrow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    transition: all 0.3s ease;
  }
}

.project-info__languages {
  gap: 10px;
  display: flex;
  place-content: flex-start;
  li {
    list-style: none;
    background: #c4c4eb;
    color: #242d4f;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 14px;
  }
}
