<a [routerLink]="project.url" class="project-container--link">
  <div class="project-card">
    <div class="project-status">
      <p>{{project.status}}</p>
    </div>
    <div class="project__img--container">
      <img [src]="project.img" alt="Screenshot of project {{project.name | titlecase }}" class="project__img">
    </div>
    <div class="project-info">
      <div class="project-info__header">
        <h2 class="project-info__title">{{project.name | titlecase }}</h2>
        <div class="project-info__arrow">
          <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
            <line y2="12" x2="19" y1="12" x1="5"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </div>
      </div>
      <div class="project-info__description">
        <p>{{project.description}}</p>
      </div>
      <ul class="project-info__languages">
        <li *ngFor="let language of project.languages">{{language}}</li>
      </ul>
    </div>
  </div>
</a>
