<a href="#" class="project-container--link">
  <div class="project-card">
    <div class="project__img">
      <img src="" alt="Screenshot of project">
    </div>
    <div class="project-info">
      <div class="project-info__header">
        <h2 class="project-info__title">Project Tittle</h2>
        <div class="project-info__arrow">
          <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
            <line y2="12" x2="19" y1="12" x1="5"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </div>
      </div>
      <div class="project-info__description">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quia rem nulla cumque eum dicta asperiores dolores eos dolorem accusamus culpa facere delectus.</p>
      </div>
      <ul class="project-info__languages">
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
  </div>
</a>
