@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$dark-cyan: hsl(158, 36%, 37%);
$darkest-cyan: #1a4031;
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$fraunces: 'Fraunces', serif;
$montserrat: 'Montserrat', sans-serif;

p {
  font-size: 14px;
  font-family: $montserrat;
}

div[data-component="container"] {
  background-color: $cream;
}

.product-preview-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 346px;
  border-radius: 9px;
}

.product__img {
  background: url('images/image-product-mobile.jpg') no-repeat center / contain;
  height: 242px;
  border-radius: 9px 9px 0 0;
}

.product__content {
  padding: 28px;
  .product__category {
    font-size: 1.4rem;
    font-family: $montserrat;
    color: $dark-grayish-blue;
    letter-spacing: 4px;
  }
  .product__title {
    line-height: 1;
    margin: 11px 0;
    font-size: 3rem;
    font-family: $fraunces;
  }
  .product__description {
    color: $dark-grayish-blue;
    line-height: 1.8;
  }
  .product__prices {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 11px 0;
    p {
      font-size: 3rem;
      color: $dark-cyan;
      font-weight: bold;
      font-family: $fraunces;
    }
    span {
      font-size: 1.4rem;
      color: $dark-grayish-blue;
      text-decoration: line-through;
    }
  }
  .product__button {
    font-family: $montserrat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: $dark-cyan;
    color: white;
    &:hover {
      cursor: pointer;
      background-color: $darkest-cyan;
    }
  }
}

@media screen and (min-width: 768px) {
 .product-preview-card {
  flex-direction: row;
  width: initial;
 }
 .product__img {
  background: url('images/image-product-desktop.jpg') no-repeat center / cover;
  height: 100%;
  width: 260px;
  border-radius: 9px 0px 0 9px;
 }
 .product__content {
  width: 268px;
 }
}
