<div data-component="container">
  <div class="product-preview-card">
    <div class="product__img"></div>
    <div class="product__content">
      <span class="product__category">PERFUME</span>
      <h2 class="product__title">Gabrielle Essence Eau De Parfum</h2>
      <p class="product__description">A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.</p>
      <div class="product__prices">
        <p>$149.99</p><span>$169.99</span>
      </div>
      <button type="button" class="product__button"><span class="product__button--cart"></span>Add to Cart</button>
    </div>
  </div>
</div>
