<p class="clarification">*All challenges use fake data, whether it's static or sourced from APIs. Forms do not manipulate your personal information, nothing is connected to any backend system. Everything here is just for practice and fun, your interactions with these components are completely secure.</p>
<footer>
  <p>Coded with ❤ by Carina Payleman</p>
  <ul class="links">
    <li><a href="https://paylemanc.github.io/portfolio/" target="_blank"><span class="link-icon"></span>Portfolio Web</a></li>
    <li><a href="https://github.com/PaylemanC" target="_blank"><span class="link-icon"></span>GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/carina-rocio-payleman/" target="_blank"><span class="link-icon"></span>LinkedIn</a></li>
  </ul>
  <p>Challenges by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a></p>
</footer>
