<footer>
  <div class="copyright">
    <p>Coded with ❤ by Carina Payleman</p>
    <p>Challenges by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a></p>
  </div>
  <ul class="links">
    <li><a href="https://paylemanc.github.io/portfolio/" target="_blank">Portfolio Web</a></li>
    <li><a href="https://github.com/PaylemanC" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/carina-rocio-payleman/" target="_blank">LinkedIn</a></li>
  </ul>
</footer>
