@import '../../../app.component.scss';

footer {
  @include flexbox(column, center, center, 8px);
  background-color: $pale-pink;
  text-align: center;
  padding: 16px;
}

p, a {
  font-size: 1.7rem;
}

ul {
  @include flexbox(row, center, center, 8px 32px);
  list-style: none;
  flex-wrap: wrap;
}

.links {
  li:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    a {
      color: #4d4e9f;
    }
  }
  a {
    letter-spacing: 4px;
    text-decoration: none;
    color: #1c1c1c;
  }
}
