
@import './src/styles.scss';

app-module-card {
  @include flexbox(row, center, center, 64px);
  flex-wrap: wrap;
}

main {
  @include flexbox(row, center, center, 40px);
  flex-wrap: wrap;
  // background-color: #a8c4f3;
  background-color: $soft-purple;
  font-size: 1.6rem;
  padding: 48px 16px;
}
