<main>
  <!-- <a routerLink="/home">Volver al Home</a> -->
  <div class="banner">
    <div class="title--container">
      <h2>Frontend Mentor</h2>
      <span class="angular-icon"></span>
      <h2>Angular</h2>
    </div>
    <p class="intro">Welcome to some challenges from Frontend Mentor with Angular 💗 If you like it, feel free to say hi 👋 </p>
    <div class="repository-btn--container">
      <a href="https://github.com/PaylemanC/frontendmentor--Angular" target="_blank" class="repository-btn">
        <span class="github-icon"></span>
        <p>Repository on GitHub</p>
        <span class="border-btn"></span>
      </a>
    </div>
  </div>
  <section class="projects-container">
    <app-project-card [project]="project" *ngFor="let project of projects.slice().reverse()"></app-project-card>
  </section>
</main>
