<main>
  <!-- <a routerLink="/home">Volver al Home</a> -->
  <p class="clarification">Hi!<br> Welcome to some solved challenges from Frontend Mentor with Angular 💗 If you like it, remember to say hi on GitHub or LinkedIn!</p>
  <section class="projects-container">
    <app-project-card [project]="project" *ngFor="let project of projects"></app-project-card>
  </section>
  <p class="clarification">*All challenges use fake data, static or from APIs. Form's buttons don't manipulate information. Everything here is just for practice and fun.</p>
</main>
