@import '../../app.component.scss';

main {
  background-color: $soft-purple;
  font-size: 1.6rem;
  min-height: 84vh;
}

.intro-banner {
  // background: #f8ebed;
  background: url('../../../assets/back.jpg') center / contain;
  padding: 12px 16px;
}

.intro {
  font-size: 1.8rem;
  text-align: center;
  color: black;
  &::first-line {
    font-weight: bold;
    font-size: 2rem;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 48px;
  margin: 44px 32px 24px;
  justify-items: center;
}

.clarification {
  color: #292929;
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  padding: 24px 16px;
  padding-top: 0;
}
