@import './src/styles.scss';

main {
  background-color: $soft-purple;
  padding: 16px;
  font-size: 1.6rem;
  min-height: 84vh;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 40px;
  margin: 24px 32px;
  justify-items: center;
}
