<main>
  <!-- <a routerLink="/home">Volver al Home</a> -->
  <div class="intro-banner">
    <p class="intro">Hi!<br> Welcome to some challenges from Frontend Mentor with Angular 💗 If you like it, feel free to say hi on GitHub or LinkedIn! 👋 </p>
  </div>
  <section class="projects-container">
    <app-project-card [project]="project" *ngFor="let project of projects.slice().reverse()"></app-project-card>
  </section>
  <p class="clarification">*All challenges use fake data, whether it's static or sourced from APIs. Forms do not manipulate your personal information, nothing is connected to any backend system. Everything here is just for practice and fun, your interactions with these components are completely secure.</p>
</main>
