@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange:  hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%); //#252d37
$very-dark-blue: hsl(216, 12%, 8%); //#121417
$background: #141519;

div[data-component="container"] {
  background-color: $background;
}

h2, p, input, button {
  font-family: 'Overpass', sans-serif;
}

p {
  font-size: 15px;
}

.active {
  display: flex;
  flex-direction: column;
  gap: 25px;
  &#end {
    align-items: center;
  }
}

.inactive {
  display: none;
}

.interactive-rating {
  $gradient-1: #222832;
  $gradient-2: #171e28;
  background: $gradient-1;
  background: linear-gradient(180deg, $gradient-1 0%, $gradient-2 100%);
  border-radius: 18px;
  padding: 26px;
  min-width: 332px;
  max-width: 375px;
  margin: 0 32px;
  .star-icon__container {
    background-color:$dark-blue;
    border-radius: 100%;
    width: 46px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content__tittle {
    color: $white;
    font-size: 2.2rem;
    margin-bottom: 14px;
  }
  .content__paragraph {
    color: $light-grey;
  }
}

#rating-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  .rating-form__container {
    border: none;
    display: flex;
    justify-content: space-between;
  }
  .rating-form__option {
    color: $light-grey;
    font-weight: bold;
    padding: 13px 18px;
    border-radius: 100%;
    background-color:$dark-blue;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $light-grey;
      color: $white;
    }
    &:focus {
      background-color: $orange;
      color: $white;
    }
  }
  .rating-form__btn-submit {
    border-radius: 32px;
    color: $white;
    background-color: $orange;
    padding: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    &:hover {
      background: $white;
      color: $orange;
    }
    &:disabled {
      background-color: $medium-grey;
      color: $dark-blue;
      cursor: not-allowed;
    }
  }
}

#end {
  .illustration {
    margin-top: 12px;
    height: 100px;
    width: 150px;
    background: url('images/illustration-thank-you.svg') no-repeat center / contain;
  }
  .selection {
    color: $orange;
    background-color: $dark-blue;
    padding: 6px 14px;
    border-radius: 44px;
  }
  .content {
    text-align: center;
    margin-bottom: 20px;
  }
}

//Mobile: 375px, Desktop: 1440px
