<div data-component="container">
  <div class="interactive-rating">
    <div id="start" [ngClass]="{'active': !active, 'inactive': active}">
      <span class="star-icon__container">
        <svg width="17" height="16" xmlns="http://www.w3.org/2000/svg">
          <path d="m9.067.43 1.99 4.031c.112.228.33.386.58.422l4.45.647a.772.772 0 0 1 .427 1.316l-3.22 3.138a.773.773 0 0 0-.222.683l.76 4.431a.772.772 0 0 1-1.12.813l-3.98-2.092a.773.773 0 0 0-.718 0l-3.98 2.092a.772.772 0 0 1-1.119-.813l.76-4.431a.77.77 0 0 0-.222-.683L.233 6.846A.772.772 0 0 1 .661 5.53l4.449-.647a.772.772 0 0 0 .58-.422L7.68.43a.774.774 0 0 1 1.387 0Z" fill="#FC7614"/>
        </svg>
      </span>
      <div class="content">
        <h2 class="content__tittle">How did we do?</h2>
        <p class="content__paragraph">Please let us know how we did with your support request. All feedback is appreciated
      to help us improve our offering!</p>
      </div>
      <form id="rating-form">
        <fieldset class="rating-form__container">
          <input type="button" value="1" class="rating-form__option" (click)="selectedRating(1)">
          <input type="button" value="2" class="rating-form__option" (click)="selectedRating(2)">
          <input type="button" value="3" class="rating-form__option" (click)="selectedRating(3)">
          <input type="button" value="4" class="rating-form__option" (click)="selectedRating(4)">
          <input type="button" value="5" class="rating-form__option" (click)="selectedRating(5)">
        </fieldset>
        <button type="submit" class="rating-form__btn-submit" (click)="onSubmit($event)" [disabled]="isButtonDisabled">SUBMIT</button>
      </form>
    </div>

    <div id="end" [ngClass]="{'active': active, 'inactive': !active}">
      <div class="illustration"></div>
      <p class="selection">You selected {{ selected }} out of 5</p>
      <div class="content">
        <h2 class="content__tittle">Thank you!</h2>
        <p class="content__paragraph">We appreciate you taking the time to give a rating. If you ever need more support,
      don't hesitate to get in touch!</p>
      </div>
    </div>
  </div>
</div>
