<div data-component="container">
  <div class="nft-card">
    <div class="nft-card__img-container"></div>
    <h2 class="nft-card__title">Equilibrium #3429</h2>
    <p class="nft-card__description">Our Equilibrium collection promotes balance and calm.</p>
    <div class="nft-card__detail">
      <p class="nft-card__detail-price"><span class="nft-card__detail-icon"></span>0.041 ETH</p>
      <p class="nft-card__detail-time"><span class="nft-card__detail-icon"></span>3 days left</p>
    </div>
    <p class="nft-card__creator"><span class="nft-card__creator-photo"></span>Creation of <span class="nft-card__creator-name">Jules Wyvern</span></p>
  </div>
</div>
