@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$blue-main-bg: hsl(217, 54%, 11%);
$blue-card-bg: hsl(216, 50%, 16%);
$blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

*, p, h1, h2, h3, span, input, button {
  font-family: 'Outfit', sans-serif;
}

div[data-component="container"] {
  background-color: $blue-main-bg;
}

//- Mobile: 375px - Desktop: 1440px
